<ion-header>
  <ion-navbar color='navbarColor'>
    <ion-row no-padding>
      <ion-col>
        <ion-title class="title" left>
          <span class="topic">
            <i> My3Wheel&nbsp; &nbsp; </i>
          </span>
        </ion-title>
      </ion-col>

      <ion-col col-auto>
        <ion-item-group class="symbol">
          <img class="driver-icon" src="assets/imgs/rider.png" /> </ion-item-group>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" [enabled]="refresherEnabled">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="none">
    </ion-refresher-content>
  </ion-refresher>

  <ion-row class="btnRow" [hidden]="showMyHireBtn">
    <button (click)="confirmedHire()" ion-button class="newHire" block>
      <span class="hire-span">VIEW MY HIRES</span>
      <ion-icon class="" name="ios-checkmark-circle-outline">
        <ion-badge id="notifications-badge" color="danger">{{noOfConfirmedHires}}</ion-badge>
      </ion-icon>
    </button>
  </ion-row>

  <ion-grid *ngFor="let item of globalArray; let i = index" no-padding>
    <div *ngIf="item.name == 'loading'">
      <p class="nothingToDisplay">Thank you for using My3Wheel app. We have configured this app to compatible with your device. Please restart and enjoy
        the app.</p>
      <div class="restartDiv" text-center>
        <button ion-button class="restartBtn" (click)="restartApp();">Restart</button>
      </div>
    </div>

    <div *ngIf="item.name == 'noNetwork'">
      <p class="nothingToDisplay">Network error! Please check your internet connection and refresh again.</p>
    </div>

    <div *ngIf="item.name == 'null'">
      <p class="nothingToDisplay">There are no three wheels nearby. Please try again in few minutes.</p>
    </div>

    <div *ngIf="item.name == 'activeHire'">
      <p class="nothingToDisplay">You have an unconfirmed hire. Please wait until it confirmed or reject or refresh the page.</p>
    </div>

    <div *ngIf="i<10">
      <div *ngIf="(item.name != 'null') && (item.name != 'loading') && (item.name != 'activeHire') && (item.name != 'noNetwork')">
        <ion-row class="availableDriverList" (click)="nextPage(item.name, item.vehicleNo, item.distance, item.time, item.drivrId , item.dImage);">
          <ion-col col-auto>
            <div class="imgContainer">
              <img class="btn" src="assets/imgs/arrow1.png">
              <div class="centered"> {{i+1}} </div>
            </div>
          </ion-col>

          <ion-col col-auto>
            <img class="user" src={{item.dImage}}/>
          </ion-col>

          <ion-col class="driver" col-auto>
            <ion-row>
              <span class="font_a"> Name</span>
              <Span class="blackDot">:&nbsp;</Span>
              <span class="font"> {{item.name}} </span>
            </ion-row>
            <ion-row>
              <span class="font_b"> Plate No </span>
              <Span class="blackDot">:&nbsp;</Span>
              <span class="font"> {{item.vehicleNo}} </span>
            </ion-row>
            <ion-row>
              <span class="font_c"> Distance </span>
              <Span class="blackDot">:&nbsp;</Span>
              <span class="font2"> {{item.distance}} </span>
            </ion-row>
            <ion-row>
              <span class="font_d"> Time </span>
              <Span class="blackDot">:&nbsp;</Span>
              <span class="font2"> {{item.time}} </span>
            </ion-row>
          </ion-col>

        </ion-row>
      </div>
    </div>
  </ion-grid>

</ion-content>