page-third {

	.title{
		text-align: left;
		padding-top: 6px;
	}

	.topic{
		font-size: 22px;
		background: -webkit-linear-gradient(rgb(245, 223, 24), rgb(230, 20, 20));
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.symbol{
		text-align: right;    
	}

	.icon{
		padding-right:15px;
		width: 50px;
		height:33px;
	}

	p{
		text-align: center;
		color: red;
	}

	.font2{
		color: blue;
		line-height:25px;
	}

	section{
		color: #2f39c5;
		line-height:25px;
	}

	.btnAccept{
		background-color: rgb(13, 141, 13);
		border-radius: 8px;
	}

	// .btnAccept:hover{
	// 	background-color: rgb(192, 181, 31);
	// 	color: rgb(48, 42, 42);
	// }

	.btnReject{
		background-color: rgb(13, 141, 13);
		border-radius: 8px;
	}

	.btnReject:hover{
		background-color: rgb(192, 181, 31);
		color: rgb(48, 42, 42);
	}

	.font1{
		color: #444f50;
		line-height:25px;	
	}

	.acceptBtnAlign{
		text-align: right;
	}

	.rejectBtnAlign{
		text-align: left;
	}

	.redNote{
		color: red;
	}


}
