page-second {

	.title{
		text-align: left;
		padding-top: 6px;
		padding-left: 0%;
	}

	.topic{
		padding-left: none;
		margin-left: none;
		font-size: 22px;
		background: -webkit-linear-gradient(rgb(245, 223, 24), rgb(230, 20, 20));
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.font{
		color: blue;
	}

	.font2{
		color: blue;
	}

	.body{
		background-color: #f7da9d;
	}

	.icon{
		padding-top: 4px;
		padding-right:15px;
		width: 45px;
		height:30px;
	}

	.symbol{
		text-align: right;
		}

	.list{
		padding: 0%;
		margin: 0%;
		background-color: #f8e7c2;
	}

	.input-label{
        margin: 7px 8px 5px 0;
        overflow: visible;
	}

	.inputFeilds{
		border: 1px solid rgb(190, 189, 189);
		padding-left: 5px;
		font-size: 14px;
        background-color: white;
        margin-top: 12px;
	}

	.text-input-md{
		margin: 4px;
	}

	.inputDateTime{
		padding-left: 5px;
		background-color: white;
		border: 1px solid rgb(190, 189, 189);
		padding-top : 3px;    
		margin: 0%;
		font-size: 14px;
		height: 25px;
        margin-top: 12px;
	}

	.datetime-text{
		margin: 2px 4px 4px 4px;
	}

	::placeholder{
		font-size: 14px;
	}

	.blueNote{
		color: blue;
	}

	.note{
		line-height:4px;
	}

	.user{
		margin-top: 5px;
		padding-top: 0px;
		border:1px solid black;
		width: 65px;
		height: 73px;	
	}

	.driver{
		margin-top: 2px;
		line-height: 20px;
	}

	.font_a{
		color:black;
		width: 57px;
		// color: #072b0b;
	}

	.font_b{
		color:black;
		width: 57px;
		// color: #1e7629;
	}

	.font_c{
		color:black;
		width: 57px;
		// color: #0b9711;
	}

	.font_d{
		color:black;
		width: 57px;
		// color: #166770;
	}

	.btnBack{
		background-color: rgb(13, 141, 13);
		border-radius: 8px;
	}

	.btnBack:hover {
		background-color: rgb(192, 181, 31);
		color: rgb(48, 42, 42);
	}
	
	#notice{
		color: rgb(11, 11, 240);
		color: red;
		font-size: 17px;
		text-align: center;
	}

	.redNote{
		color: red; 
	}

	.btnSend{
		background-color: rgb(13, 141, 13);
		border-radius: 8px;
	}

	.btnSend:hover {
		background-color: rgb(192, 181, 31);
		color: rgb(48, 42, 42);
	}

	.inputNames{
		width: 110px;
	}

	#noteFillAll{
		text-align: center;
	}

	.arrowButton{
		margin-top: 15px;
		padding-right: 0%;
	}

	.item-cover {
		width: inherit!important;
	}
}
